<div class="container center white">
    <h1></h1>
    <h4>This site scrapes articles from <a href="https://www.cnn.com/" target="_blank" class="cyan-text">CNN.com</a>.</h4>
    <a href="/scraper" class="btn cyan">Scrape<i class="material-icons left">content_cut</i></a>
</div>